@import "~bootswatch/dist/simplex/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/simplex/bootswatch";

body {
  background-color: #27292b;
  color: #fff;
}

p {
  margin: 0;
}
