<form
  [formGroup]="form"
  class="position-relative"
  style="top:-273px;left:2px;z-index:2;"
>
  <div class="d-flex">
    <div
      class="btn-group btn-group-toggle"
      ngbRadioGroup
      name="radioBasic"
      formControlName="radio"
    >
      <label ngbButtonLabel class="btn-primary">
        <input
          ngbButton
          type="radio"
          value="A"
          (click)="changeRadioValue('A')"
        />
        A
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input
          ngbButton
          type="radio"
          value="B"
          (click)="changeRadioValue('B')"
        />
        B
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input
          ngbButton
          type="radio"
          value="C"
          (click)="changeRadioValue('C')"
        />
        C
      </label>
    </div>
    <input
      formControlName="slide"
      type="range"
      class="custom-range mx-3"
      min="1"
      max="300"
      (change)="changeSlideValue()"
    />
  </div>
</form>
